@model CrudASP.Models.Contacto

@{
    ViewData["Title"] = "Detalles Contacto";
}



<div class="text-center">
    <Image class="offser-9 col-3 mb-3" style="width:100px; height:100px" src="https://play-lh.googleusercontent.com/kyA7O0EaQqSDdnlB6-OkUkfHOn2t6YxOkO1cT9W5cdOQVxva9e6l85rhJ5Au5Ugzd9o"></Image>
    <h1 class="text-center">Contactos INA Upala ASP.Net Core 7</h1>
</div>

<div class="row">
    <div class="offser-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white">
                    <strong>
                        Detalles del Contacto
                    </strong>
                </h3>

            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(m => m.Nombre)</li>
                    <li class="list-group-item"><strong>Telefono: </strong>@Html.DisplayFor(m => m.Telefono)</li>
                    <li class="list-group-item"><strong>Celular: </strong>@Html.DisplayFor(m => m.Celular)</li>
                    <li class="list-group-item"><strong>Email: </strong>@Html.DisplayFor(m => m.Email)</li>
                    <li class="list-group-item"><strong>Fecha Creación: </strong>@Html.DisplayFor(m => m.FechaCreacion)</li>

                </ul>
 
                <a style="border-radius: 10px; margin-top:10px" class="btn btn-outline-primary btn-sm" asp-action="Index" asp-controller="Inicio">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-reply-all-fill" viewBox="0 0 16 16">
                        <path d="M8.021 11.9 3.453 8.62a.719.719 0 0 1 0-1.238L8.021 4.1a.716.716 0 0 1 1.079.619V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                        <path d="M5.232 4.293a.5.5 0 0 1-.106.7L1.114 7.945a.5.5 0 0 1-.042.028.147.147 0 0 0 0 .252.503.503 0 0 1 .042.028l4.012 2.954a.5.5 0 1 1-.593.805L.539 9.073a1.147 1.147 0 0 1 0-1.946l3.994-2.94a.5.5 0 0 1 .699.106z" />
                    </svg>
                    Regresar
                </a>
            </div>
        </div>
    </div>
</div>

